<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryan.suns.admin.mapper.RoleMapper">

    <insert id="saveUserRoles">
        insert into sys_user_role(userId,roleId) values
        <foreach collection="roleIds" item="item" separator=",">
            (#{userId},#{item})
        </foreach>
    </insert>

    <insert id="saveRoleMenus">
        insert into sys_role_menu(roleId,menuId) values
        <foreach collection="menuIds" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>

    <sql id="query_page_where">
        <where>
            r.delFlag = 0
            <if test="sysRole.roleName != null">
                and r.roleName = #{sysRole.roleName}
            </if>
            <if test="sysRole.roleCode != null">
                and r.roleCode = #{sysRole.roleCode}
            </if>
        </where>
    </sql>

    <delete id="delUserRoles">
        delete from sys_user_role where userId = #{userId}
    </delete>

    <delete id="deleteRoleMenus">
         delete from sys_role_menu where roleId = #{roleId}
    </delete>

    <select id="queryPage" resultType="com.ryan.suns.common.model.admin.SysRole">
        SELECT r.id, r.roleName, r.roleCode FROM sys_role r
        <include refid="query_page_where"/>
    </select>

    <select id="findUserCountByroleId" resultType="java.lang.Integer">
        SELECT count(*) FROM sys_user_role ur
        LEFT JOIN sys_user u ON ur.userId = u.id
        LEFT JOIN sys_role r ON r.id = ur.roleId
        where u.delFlag = 0 and  r.id = #{roleId}
    </select>

    <select id="selectUserRoles" resultType="java.lang.String">
        select roleId from sys_user_role where userId = #{userId}
    </select>

    <select id="findRoleMenus" resultType="com.ryan.suns.common.model.admin.SysMenu">
        SELECT m.id, m.parentId,m.name FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.id = rm.menuId
        LEFT JOIN sys_role r ON r.id = rm.roleId
        where m.delFlag = 0 and  r.id = #{roleId}
    </select>
</mapper>