<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.suns.user.mapper.UserMapper">

    <!-- SysUser结果集 -->
    <resultMap id="userResultMap" type="com.ryan.suns.common.model.admin.SysUser">
      <id column="userId" property="userId"/>
      <result column="username" property="username"/>
      <result column="password" property="password"/>
      <result column="avatar" property="avatar"/>
      <result column="mobile" property="mobile"/>
      <collection property="roleList" ofType="com.ryan.suns.common.model.admin.SysRole">
        <id column="roleId" property="roleId" />
        <result column="roleName" property="roleName" />
        <result column="roleCode" property="roleCode" />
      </collection>
    </resultMap>

    <sql id="query_page_where">
        <where>
            u.delFlag = 0 and r.delFlag = 0
            <if test="sysUser.username != null">
                and u.username = #{sysUser.username}
            </if>
            <if test="sysUser.mobile != null">
                and u.mobile = #{sysUser.mobile}
            </if>
        </where>
    </sql>


    <select id="selectByUsername" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,r.roleId,r.roleName,r.roleCode FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        where u.delFlag = 0 and r.delFlag = 0 and u.userName = #{username}
    </select>

    <select id="selectByUserId" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,r.roleId,r.roleName,r.roleCode FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        where u.delFlag = 0 and r.delFlag = 0 and u.userId = #{userId}
    </select>

    <select id="findUserByMobile" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,r.roleId,r.roleName,r.roleCode FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        where u.delFlag = 0 and r.delFlag = 0 and u.mobile = #{mobile}
    </select>


    <select id="queryPage" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,u.mobile,r.roleName FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        <include refid="query_page_where"/>
    </select>

</mapper>