<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.suns.user.mapper.UserMapper">

    <!-- SysUser结果集 -->
    <resultMap id="userResultMap" type="com.ryan.suns.common.model.user.SysUser">
      <id column="userId" property="userId"/>
      <result column="username" property="username"/>
      <result column="password" property="password"/>
      <result column="avatar" property="avatar"/>
      <collection property="roleList" ofType="com.ryan.suns.common.model.user.SysRole">
        <id column="roleId" property="roleId" />
        <result column="roleName" property="roleName" />
        <result column="roleCode" property="roleCode" />
      </collection>
    </resultMap>


    <select id="selectByUsername" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,r.roleId,r.roleName,r.roleCode FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        where u.delFlag = 0 and r.delFlag = 0 and u.userName = #{username} limit 1
    </select>

    <select id="selectByUserId" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,r.roleId,r.roleName,r.roleCode FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        where u.delFlag = 0 and r.delFlag = 0 and u.userId = #{userId}
    </select>

    <select id="findUserByMobile" resultMap="userResultMap">
        SELECT u.userId,u.username,u.password,u.avatar,r.roleId,r.roleName,r.roleCode FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.userId = u.userId
        LEFT JOIN sys_role r ON r.roleId = ur.roleId
        where u.delFlag = 0 and r.delFlag = 0 and u.mobile = #{mobile}
    </select>

</mapper>