<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>登陆</title>
	<link th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{css/templatemo_style.css}" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">Login Form One</h1>
			<form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" th:action="@{/login}"method="post">
		        <div class="form-group">
		          <div class="col-xs-12">		            
		            <div class="control-wrapper">
		            	<label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
		            	<input type="text" class="form-control" id="username" name="username" placeholder="Username">
		            </div>		            	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		            	<label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
		            	<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		            </div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
	             	<div class="checkbox control-wrapper">
	                	<label>
	                  		<!--<input type="checkbox"> Remember me-->
                		</label>
	              	</div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		          		<input type="submit" value="登陆" onclick="javascript:$('#loginform').submit();" class="btn btn-info">
		          		<a href="forgot-password.html" class="text-right pull-right">忘记密码?</a>
		          	</div>
		          </div>
		        </div>
		      </form>
		      <div class="text-center">
		      	<a href="create-account.html" class="templatemo-create-new">没有账号? <i class="fa fa-arrow-circle-o-right"></i></a>
		      </div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
</body>
</html>